## To be used with BED_SCREWS_ADJUST
[bed_screws]
screw1: 59,6
screw1_name: front screw
screw2: 4,113
screw2_name: back left
screw3: 114,113
screw3_name: back right
Probe_height: 0.1

[bed_mesh]
speed: 50
horizontal_move_z: 20
mesh_min: 24, 2
mesh_max: 117, 108
probe_count: 4, 4
adaptive_margin: 5
mesh_pps: 2, 2
algorithm: bicubic
bicubic_tension: 0.2
# fade_start: 1
# fade_end: 10
# fade_target: 0
zero_reference_position: 60, 60