
## https://github.com/VoronDesign/Voron-Hardware/tree/master/Klipper_Expander/Software
[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_310008000343305555323920-if00
restart_method: command


[output_pin caselight]
pin: expander:PA0
pwm: true
cycle_time: 0.010
value: 0
shutdown_value: 0

# [output_pin mosfet1]
# pin: expander:PA1
# pwm: true
# cycle_time: 0.010
# value: 0
# shutdown_value: 0

[output_pin nevermore]
pin: expander:PA2
pwm: true
cycle_time: 0.010
value: 0
shutdown_value: 0

[controller_fan psu_bay_fan]
pin: expander: PA3
max_power: 1.0
cycle_time: 0.01
kick_start_time: 0.5
off_below: 0.2
fan_speed: 0.75
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
idle_timeout: 60
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
idle_speed: 0.5
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
# heater:
#stepper:
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.

# [output_pin mosfet3]
# pin: expander:PA3
# pwm: true
# cycle_time: 0.010
# value: 0
# shutdown_value: 0

# Status LED lights when klipper connects 
[static_digital_output onboardLED]
pins: !expander:PA4


# [neopixel expanderPixel]
# pin: expander:PB1
# chain_count: 1
# initial_RED: 0.9
# initial_GREEN: 0.3
# initial_BLUE: 0.0

[temperature_sensor stepper_z]
sensor_type:Generic 3950
sensor_pin: expander:PA6

[temperature_sensor stepper_a]
sensor_type:Generic 3950
sensor_pin: expander:PA5

# Other Pins
# T0 = PA6
# T1 = PA5
# GPIO = PA7