#####################################################################
#      Master ID Configuration
#####################################################################
[mcu sht36]  # 工具主板序列号
## CAN ID
## ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0
canbus_uuid: db00a8e5ce16
#--------------------------------------------------------------------
# # RS232 ID
## 请根据固件配置填写波特率
## Please fill in the baud rate according to the firmware configuration.
# serial: /dev/serial/by-path/platform-1c1c000.usb-usb-0:1.2:1.0-port0
# baud: 250000
# restart_method:command

#####################################################################
#      Temperature monitoring
#####################################################################
[temperature_sensor sht36]
sensor_type: temperature_mcu
sensor_mcu: sht36


#####################################################################
#      Extruder thermal sensitivity
#####################################################################
## Please select the type of thermocouple you want to use.
## 请根据你想要使用的热敏选择
[extruder]
heater_pin:sht36:gpio23
## Type of sensor - common thermistors are (Generic 3950, ATC Semitec 104GT-2)
## 传感器类型-常见的热敏电阻器是 (Generic 3950, ATC Semitec 104GT-2)
sensor_type:Generic 3950
#   Type of sensor - common thermistors are "EPCOS 100K B57560G104F",
#   "ATC Semitec 104GT-2", "ATC Semitec 104NT-4-R025H42G", "Generic
#   3950","Honeywell 100K 135-104LAG-J01", "NTC 100K MGB18-104F39050L32",
#   "SliceEngineering 450", and "TDK NTCG104LH104JT1". See the
#   "Temperature sensors" section for other sensors. This parameter
#   must be provided.
sensor_pin:sht36:gpio27
###------------------------------------------------------------------
## If using PT1000, please connect the jumper next to the thermal sensitivity.
## 如果使用PT1000请将热敏旁边跳线接上
# sensor_type:PT1000
# sensor_pin:sht36:gpio27
# pullup_resistor: 1000
###------------------------------------------------------------------
## Using MAX31865 to connect PT100 or PT1000
## 使用MAX31865接PT100或者PT1000
# sensor_type: MAX31865
# sensor_pin: sht36:gpio17
# spi_software_sclk_pin: sht36:gpio2
# spi_software_mosi_pin: sht36:gpio3
# spi_software_miso_pin: sht36:gpio4
# rtd_reference_r: 430

#####################################################################
#      extruder
#####################################################################
## https://www.klipper3d.org/Config_Reference.html#extruder
[extruder]
step_pin:sht36:gpio7
dir_pin:sht36:gpio6
enable_pin: !sht36:gpio14
rotation_distance: 4.72974
## rotation_distance = The original rotation_distance multiplied by the actual extrusion length divided by the requested extrusion length.
## 校准步进值: 22.44=旧值22*实际值102/目标值100
# gear_ratio:50:10
## 减速比（伽利略齿比7.5:1 并且这行注释掉；BMG为50：17，输出轴在前，输入轴在后）
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter:0.400
filament_diameter:1.75
max_extrude_only_distance: 500
#max_extrude_only_distance: 200.0   # 挤出流量报错可以注释这个，但是建议重新切片
max_extrude_only_velocity: 120
#max_extrude_only_accel:
#   Maximum velocity (in mm/s) and acceleration (in mm/s^2) of the
#   extruder motor for retractions and extrude-only moves. These
#   settings do not have any impact on normal printing moves. If not
#   specified then they are calculated to match the limit an XY
#   printing move with a cross section of 4.0*nozzle_diameter^2 would
#   have.
pressure_advance: 0.02 #to be calibrated
#   The amount of raw filament to push into the extruder during
#   extruder acceleration. An equal amount of filament is retracted
#   during deceleration. It is measured in millimeters per
#   millimeter/second. The default is 0, which disables pressure
#   advance.
pressure_advance_smooth_time: 0.03 #to be calibrated
#   A time range (in seconds) to use when calculating the average
#   extruder velocity for pressure advance. A larger value results in
#   smoother extruder movements. This parameter may not exceed 200ms.
#   This setting only applies if pressure_advance is non-zero. The
#   default is 0.040 (40 milliseconds).
max_power: 1.0
#   The maximum power (expressed as a value from 0.0 to 1.0) that the
#   heater_pin may be set to. The value 1.0 allows the pin to be set
#   fully enabled for extended periods, while a value of 0.5 would
#   allow the pin to be enabled for no more than half the time. This
#   setting may be used to limit the total power output (over extended
#   periods) to the heater. The default is 1.0.
min_extrude_temp: 170
#   The minimum temperature (in Celsius) at which extruder move
#   commands may be issued. The default is 170 Celsius.
min_temp: -20
max_temp: 350
#   The maximum range of valid temperatures (in Celsius) that the
#   heater must remain within. This controls a safety feature
#   implemented in the micro-controller code - should the measured
#   temperature ever fall outside this range then the micro-controller
#   will go into a shutdown state. This check can help detect some
#   heater and sensor hardware failures. Set this range just wide
#   enough so that reasonable temperatures do not result in an error.
#   These parameters must be provided.
#喷嘴温度PID校准命令：  "PID_CALIBRATE HEATER=extruder TARGET=245
# control: pid
# pid_kp: 26.213
# pid_ki:1.304
# pid_kd: 131.721
step_pulse_duration: 0.000004
#   The minimum time between the step pulse signal edge and the
#   following "unstep" signal edge. This is also used to set the
#   minimum time between a step pulse and a direction change signal.
#   The default is 0.000000100 (100ns) for TMC steppers that are
#   configured in UART or SPI mode, and the default is 0.000002 (which
#   is 2us) for all other steppers.
###------------------------------------------------------------------
[tmc2209 extruder]
uart_pin:sht36:gpio15
interpolate: false
## For LDO LDO 36STH17-1004AHG 1A 1.8° 
run_current: 0.5 # for LDO 36STH17-1004AHG
## For LDO LDO 36STH20-1004AHG 1A 1.8° 
# run_current: 0.6 # for LDO 36STH20-1004AHG
# default value provided by Orbiter 2.0 manual is 0.85, but 0.3 # for LDO 36STH17-1004AHG
sense_resistor:0.110
stealthchop_threshold:0
#   The velocity (in mm/s) to set the "stealthChop" threshold to. When
#   set, "stealthChop" mode will be enabled if the stepper motor
#   velocity is below this value. The default is 0, which disables
#   "stealthChop" mode.
###------------------------------------------------------------------
# [tmc2240 extruder]
# uart_pin:SB2040V3:gpio15
# interpolate:False
# run_current: 0.65
# interpolate: False
# rref: 12300
# stealthchop_threshold: 0 
###------------------------------------------------------------------
[verify_heater extruder]
max_error: 20
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
#check_gain_time:
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

#####################################################################
#      Stealthburner LED
#####################################################################
## https://github.com/VoronDesign/Voron-Stealthburner/tree/main
[neopixel tool_leds]
pin: sht36:gpio26
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.5
initial_BLUE: 0.2
initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#

#####################################################################
#      FAN
#####################################################################
## https://www.klipper3d.org/Config_Reference.html#heater_fan
[fan]
pin:sht36:gpio21
#max_power: 1.0
#   The maximum power (expressed as a value from 0.0 to 1.0) that the
#   pin may be set to. The value 1.0 allows the pin to be set fully
#   enabled for extended periods, while a value of 0.5 would allow the
#   pin to be enabled for no more than half the time. This setting may
#   be used to limit the total power output (over extended periods) to
#   the fan. If this value is less than 1.0 then fan speed requests
#   will be scaled between zero and max_power (for example, if
#   max_power is .9 and a fan speed of 80% is requested then the fan
#   power will be set to 72%). The default is 1.0.
#shutdown_speed: 0
#   The desired fan speed (expressed as a value from 0.0 to 1.0) if
#   the micro-controller software enters an error state. The default
#   is 0.
#cycle_time: 0.010
#   The amount of time (in seconds) for each PWM power cycle to the
#   fan. It is recommended this be 10 milliseconds or greater when
#   using software based PWM. The default is 0.010 seconds.
#hardware_pwm: False
#   Enable this to use hardware PWM instead of software PWM. Most fans
#   do not work well with hardware PWM, so it is not recommended to
#   enable this unless there is an electrical requirement to switch at
#   very high speeds. When using hardware PWM the actual cycle time is
#   constrained by the implementation and may be significantly
#   different than the requested cycle_time. The default is False.
kick_start_time: 0.200
#   Time (in seconds) to run the fan at full speed when either first
#   enabling or increasing it by more than 50% (helps get the fan
#   spinning). The default is 0.100 seconds.
#off_below: 0.0
#   The minimum input speed which will power the fan (expressed as a
#   value from 0.0 to 1.0). When a speed lower than off_below is
#   requested the fan will instead be turned off. This setting may be
#   used to prevent fan stalls and to ensure kick starts are
#   effective. The default is 0.0.
###------------------------------------------------------------------
[heater_fan heatbreak_cooling_fan]
pin: sht36:gpio13
heater: extruder
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 50.0
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
fan_speed: 0.6
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0

#####################################################################
#      Endstops && Automatical Z calibration
#####################################################################


#####################################################################
#      Accelerometer
#####################################################################
## https://www.klipper3d.org/Measuring_Resonances.html?h=adxl#configure-lis2dw-series
[lis2dw]
cs_pin: sht36:gpio12
spi_software_sclk_pin: sht36:gpio2
spi_software_mosi_pin: sht36:gpio3
spi_software_miso_pin: sht36:gpio4

#--------------------------------------------------------------------
#####################################################################
#      Resonance Tester
#####################################################################
## https://www.klipper3d.org/Config_Reference.html#resonance_tester
[resonance_tester]
accel_chip: lis2dw
probe_points: 60, 60, 20
# Somewhere slightly above the middle of your print bed
# 在打印床的中间稍微偏上的位置
min_freq: 5
#   Minimum frequency to test for resonances. The default is 5 Hz.
max_freq: 133.33
#   Maximum frequency to test for resonances. The default is 133.33 Hz.
accel_per_hz: 75
#   This parameter is used to determine which acceleration to use to
#   test a specific frequency: accel = accel_per_hz * freq. Higher the
#   value, the higher is the energy of the oscillations. Can be set to
#   a lower than the default value if the resonances get too strong on
#   the printer. However, lower values make measurements of
#   high-frequency resonances less precise. The default value is 75
#   (mm/sec).
hz_per_sec: 1
#   Determines the speed of the test. When testing all frequencies in
#   range [min_freq, max_freq], each second the frequency increases by
#   hz_per_sec. Small values make the test slow, and the large values
#   will decrease the precision of the test. The default value is 1.0
#   (Hz/sec == sec^-2).

#####################################################################
#      TAP && PL08N && BLTOUCH 
#####################################################################
# [stepper_x]
# endstop_pin: ^!sht36:gpio16

#####################################################################
#      TAP && PL08N && BLTOUCH 
#####################################################################
## https://www.klipper3d.org/Config_Reference.html?h=probe#probe
# [probe]
# pin: ^sht36:gpio22
# x_offset: 0
# y_offset: 25.0
# z_offset: 0
# speed: 10.0
# samples: 3
# samples_result: median
# sample_retract_dist: 4.0
# samples_tolerance: 0.010
# samples_tolerance_retries: 3
#--------------------------------------------------------------------
## https://www.klipper3d.org/Config_Reference.html?h=probe#bltouch
#[bltouch]
#sensor_pin: ^sht36:gpio22    # 信号接口
#control_pin: sht36:gpio24    # 舵机控制
#x_offset: -26.1              # X轴-传感器相对喷嘴偏移量，需要自行确定偏移量
#y_offset: -15.3              # Y轴-传感器相对喷嘴偏移量，需要自行确定偏移量
#z_offset: 2.1                # Z轴-传感器相对喷嘴偏移量，需要自行确定偏移量